<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Homepage" verbose="1">
    <listeners>
        <listener class-name="Academy.listeners"/>
        <listener class-name="resources.ExtentReporterNG"/>
    </listeners>

    <test name="validating homepage">
        <classes>
            <class name="Academy.Homepage"/>
        </classes>
    </test>
    <test name="validating the text within page">
        <classes>
            <class name="Academy.validateTitle"/>
        </classes>
    </test>
    <test name="validating the navigation bar">
        <classes>
            <class name="Academy.validateNavbar"/>
        </classes>
    </test>
</suite>